@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Üdvözlünk az AutoRent oldalán</h1>
    <p>Válaszd az "ALL Cars" menüpontot az autók kilistázásához</a>.</p>
</div>
